h5 {
    text-align: center;
    

}
p{
    text-align: center;
}
.container-fluid {
    background-color: #ffbf69;
    }

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
}


.goAway {
    text-decoration: none;
  } 
